.ItemDetail {
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0 15px;
    cursor: pointer;
}

.ItemDetail:hover {
    background-color: #eee;
}

.ItemDetail p {
    font-weight: 600;
}