.Textbox {
    border-radius: 7px;
    color: white;
    padding: 3px 10px;
    width: fit-content;
    height: fit-content;
    display: inline;
}

.TextboxGreen {
    background-color: rgb(0, 126, 10);
}

.TextboxLightBlue {
    background-color: rgb(4, 182, 253);
}

.TextboxOrange {
    background-color: rgb(226, 155, 2);
}

.TextboxBlue {
    background-color: rgb(29, 79, 243);
}