.Header {
    background-color: #eee;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.Header h1 {
    font-size: 350%;
    font-weight: 500;
}

.Header p {
    font-size: 130%;
}